doctype html
html
  head
    title Nick Roberts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="https://cdn.rawgit.com/pixelcog/parallax.js/master/parallax.min.js")
  body
    h1 Welcome to Harp.
    h3 This is yours to own. Enjoy.
    br
    br
    div(
      class="parallax-container"
      data-parallax="scroll"
      data-bleed="10"
      data-image-src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/1044791_1138325259511121_5182631763903046123_n.jpg?oh=c0356fb423b350d7906912ec7b1de2fc&oe=57E9BA44"
      data-natural-width="750"
      data-natural-height="763"
      style="height: 491px;")
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
